<app-navbar></app-navbar>
<div class="m-3">
  <div class="table-responsive">
    <table class="table table-bordered" dir="rtl">
      <thead>
        <th colspan="2" class="alert-danger">
          <h4 class="text-black text-center pt-1">
            تفاصيل الاستدعاء لوحدات الدم - رقم (666)
          </h4>
        </th>
      </thead>
      <tbody class="text-center font-weight-bold">
        <tr>
          <td class="w-25 f-19">رقم الاستدعاء</td>

          <td>1</td>
        </tr>
        <tr>
          <td class="w-25 f-19">تاريخ إرسال الاستدعاء</td>

          <td>17/10/1997</td>
        </tr>
        <tr>
          <td class="w-25 f-19">اسم المريض الرباعي</td>

          <td>17/10/1997</td>
        </tr>

        <tr>
          <td class="w-25 f-19">الرقم الوطني للمريض</td>

          <td>أنثى</td>
        </tr>
        <tr>
          <td class="w-25 f-19">عمر المريض</td>

          <td>عمان/خلدا</td>
        </tr>
        <tr>
          <td class="w-25 f-19">جنس المريض</td>

          <td>0798022719</td>
        </tr>

        <tr>
          <td class="w-25 f-19">اسم المستشفى التي يتواجد بها المريض</td>

          <td>0798022719</td>
        </tr>
        <tr>
          <td class="w-25 f-19">المحافظة التي تتواجد بها المستشفى</td>

          <td>0798022719</td>
        </tr>
        <tr>
          <td class="w-25 f-19">رقم هاتف بنك الدم للمستشفى</td>

          <td>0798022719</td>
        </tr>
        <tr>
          <td class="w-25 f-19">رقم السرير</td>

          <td>6</td>
        </tr>
        <tr>
          <td class="w-25 f-19">رقم الطابق</td>

          <td>7</td>
        </tr>
        <tr>
          <td class="w-25 f-19">زمرة الدم التي يحتاجها المريض</td>

          <td>O+</td>
        </tr>
        <tr>
          <td class="w-25 f-19">مكون الدم الذي يحتاجه المريض</td>

          <td>0798022719</td>
        </tr>
        <tr>
          <td class="w-25 f-19">عدد وحدات الدم التي يحتاجها المريض</td>

          <td>0798022719</td>
        </tr>

        <tr>
          <td class="w-25 f-19">رقم هاتف المريض (1)</td>

          <td>0798022719</td>
        </tr>
        <tr>
          <td class="w-25 f-19">رقم هاتف المريض (2)</td>

          <td>0798022719</td>
        </tr>
        <tr>
          <td class="w-25 f-19">سبب الحاجة لوحدات الدم</td>

          <td></td>
        </tr>

        <tr>
          <td class="w-25 f-19">صورة تثبت أمر الطبيب</td>

          <td></td>
        </tr>

        <tr>
          <td class="w-25 f-19">ملاحظات إضافية من المريض</td>

          <td></td>
        </tr>
        <tr>
          <td>حالة الاستدعاء</td>

          <td>تم رفضه</td>
        </tr>
        <tr>
          <td>اسم المسؤول الذي قام برفض الاستدعاء</td>

          <td>sondos marashdeh</td>
        </tr>
        <tr>
          <td>سبب رفضه من المسؤول</td>

          <td>sondos marashdeh</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
