<app-navbar></app-navbar>
<div class="alert alert-black text-center mt-4 h5 container">
  <b></b> أهلا <b>اسم المستخدم</b> في تطبيق حياة لقد قمت بتسجيل دخولك 19:17:10
</div>
<div class="container">
  <div class="row justify-content-center">
    <div
      class="col-md-4 text-center main-div py-5"
      routerLink="./phone-address"
    >
      <i class="fa fa-sign-out fa-2x text-primary"></i>
      <h3 class="mt-3">تسجيل الخروج</h3>
    </div>
    <div
      class="col-md-4 text-center main-div-2 py-5"
      routerLink="./phone-address"
    >
      <i class="fa fa-bell-o fa-2x text-primary"></i>
      <h3 class="mt-3">الإشعارات المرسلة للمرضى</h3>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-4 text-center main-div py-5" routerLink="#">
      <i class="fa fa-university fa-2x text-primary"></i>
      <h3 class="mt-3">بنوك الدم</h3>
    </div>
    <div class="col-md-4 text-center main-div-2 py-5" routerLink="#">
      <i class="fa fa-address-card-o fa-2x text-primary"></i>
      <h3 class="mt-3">استدعاءات المرضى لوحدات دم</h3>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-4 text-center main-div py-5" routerLink="#">
      <i class="fa fa-check-square-o fa-2x text-primary"></i>
      <h3 class="mt-3">استدعاءات المرضى الموافق عليها</h3>
    </div>
    <div class="col-md-4 text-center main-div-2 py-5" routerLink="#">
      <i class="fa fa-ban fa-2x text-primary"></i>
      <h3 class="mt-3">استدعاءات المرضى المرفوضة</h3>
    </div>
  </div>
</div>
